

.body {
    font-family: 'Poppins', sans-serif;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-box {
    background-color: cadetblue;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
  }
  
  h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
  }
  
  .input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
  }
  
  .input-box input {
    width: 100%;
    padding: 0 35px 0 5px 0;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #fff;
  }
  
  .input-box input:focus {
    border-color: #5c67f2;
  }
  
  .input-box label {
    position: absolute;
    left: 5px;
    top: 50%;
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    transform: translateY(-50%);
  }
  
  .input-box input:focus + label,
  .input-box input:valid + label {
    top: -5px;
  }
  
  .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .remember-forgot input[type="checkbox"] {
    margin-right: -50px;
  }
  
  .remember-forgot a {
    color: #5c67f2;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .remember-forgot a:hover {
    color: blue;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #5c67f2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: blue;
  }
  
  .register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .register-link a {
    color: #5c67f2;
    text-decoration: none;
    font-weight: 500;
    padding-left: 10px;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  